In [80]:
import pandas as pd
read_data = pd.read_csv('merged_preprocess_data.csv')

In [81]:
read_data.shape

(698601, 10)

In [82]:
read_data.head()

,Unnamed: 0,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,0,7.7250,77.7575,6.875,41.935,61.2100,47.1925,23.2900,20.2800,1.0
1,1,7.7225,77.7075,6.875,41.960,61.2100,47.2700,23.3075,20.3000,1.0
2,2,7.7300,77.7025,6.875,41.935,61.2100,47.1625,23.2800,20.2875,1.0
3,3,7.7250,77.7025,6.875,41.915,61.1775,47.2625,23.2900,20.2800,1.0
4,4,7.7250,77.7575,6.875,41.960,61.1600,47.2450,23.2900,20.3025,1.0

In [83]:
read_data = read_data.drop('Unnamed: 0', axis = 1)

In [84]:
read_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698601 entries, 0 to 698600
Data columns (total 9 columns):
sense_eight    698601 non-null float64
sense_five     698601 non-null float64
sense_four     698601 non-null float64
sense_one      698601 non-null float64
sense_seven    698601 non-null float64
sense_six      698601 non-null float64
sense_three    698601 non-null float64
sense_two      698601 non-null float64
target         698601 non-null float64
dtypes: float64(9)
memory usage: 48.0 MB

In [85]:
read_data.isnull().sum()

sense_eight    0
sense_five     0
sense_four     0
sense_one      0
sense_seven    0
sense_six      0
sense_three    0
sense_two      0
target         0
dtype: int64

In [86]:
final_data = read_data.dropna(axis = 0, how = 'any')
final_data.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.7250,77.7575,6.875,41.935,61.2100,47.1925,23.2900,20.2800,1.0
1,7.7225,77.7075,6.875,41.960,61.2100,47.2700,23.3075,20.3000,1.0
2,7.7300,77.7025,6.875,41.935,61.2100,47.1625,23.2800,20.2875,1.0
3,7.7250,77.7025,6.875,41.915,61.1775,47.2625,23.2900,20.2800,1.0
4,7.7250,77.7575,6.875,41.960,61.1600,47.2450,23.2900,20.3025,1.0

In [87]:
final_data.isnull().sum()

sense_eight    0
sense_five     0
sense_four     0
sense_one      0
sense_seven    0
sense_six      0
sense_three    0
sense_two      0
target         0
dtype: int64

In [88]:
final_data.shape

(698601, 9)

In [89]:
this = final_data.iloc[2][:]
True in [isinstance(k, str) for k in this.values]

False

In [90]:
X = final_data.drop('target', axis = 1)

In [91]:
y = final_data['target']

In [92]:
import sklearn as sk

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, random_state = 500)

In [95]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((558880, 8), (139721, 8), (558880,), (139721,))

In [96]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer

In [97]:
std_scaler = StandardScaler()
max_scaler = MinMaxScaler()
norm = Normalizer()

x_train_scale = std_scaler.fit_transform(x_train)
x_train_max = max_scaler.fit_transform(x_train_scale)
x_train_norm = norm.fit_transform(x_train_max)

x_test_scale = std_scaler.fit_transform(x_test)
x_test_max = max_scaler.fit_transform(x_test_scale)
x_test_norm = norm.fit_transform(x_test_max)

In [99]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 4)
knn.fit(x_train_scale, y_train)
knn.score(x_train_scale, y_train)

1.0

In [100]:
test_predict = knn.predict(x_test_scale)
from sklearn.metrics import accuracy_score
accuracy_score(test_predict, y_test)

1.0

In [103]:
test_predict[:20]

array([ 4.,  1.,  1.,  3.,  3.,  4.,  4.,  3.,  3.,  4.,  4.,  1.,  3.,
        3.,  4.,  3.,  2.,  1.,  4.,  2.])

In [104]:
y_test[:20]

571029    4.0
27645     1.0
105523    1.0
399997    3.0
412972    3.0
572680    4.0
520009    4.0
373509    3.0
371632    3.0
663688    4.0
584700    4.0
11809     1.0
349598    3.0
468174    3.0
679064    4.0
490029    3.0
273269    2.0
107658    1.0
574216    4.0
284046    2.0
Name: target, dtype: float64

In [105]:
from sklearn.svm import SVC
svc = SVC(C = 1.0, kernel = 'linear')
svc.fit(x_train_scale, y_train)
svc.score(x_train_scale, y_train)

1.0

In [106]:
test_predict_svc = svc.predict(x_test_scale)
accuracy_score(test_predict_svc, y_test)

1.0

In [108]:
from sklearn.svm import SVC
svc = SVC(C = 1.0, kernel = 'rbf')
svc.fit(x_train_scale, y_train)
svc.score(x_train_scale, y_train)

1.0

In [ ]:
from sklearn.svm import SVC
svc = SVC(C = 1.0, kernel = 'sigmoid')
svc.fit(x_train_scale, y_train)
svc.score(x_train_scale, y_train)