In [62]:
import os
os.listdir()

['.ipynb_checkpoints',
 'create_dataset.ipynb',
 'data visualization.ipynb',
 'merged_preprocess_data.csv',
 'model_building.ipynb',
 'Repitition_CO_at_70_ppm.csv',
 'Repitition_CO_at_80_ppm.csv',
 'Repitition_CO_at_90_ppm.csv',
 'Repitition_EA_at_20_ppm.csv',
 'Repitition_EA_at_30_ppm.csv',
 'Repitition_EA_at_40_ppm.csv',
 'Repitition_Ey_at_40_ppm.csv',
 'Repitition_Ey_at_50_ppm.csv',
 'Repitition_Ey_at_60_ppm.csv',
 'Repitition_ME_at_60_ppm.csv',
 'Repitition_ME_at_70_ppm.csv',
 'Repitition_ME_at_80_ppm.csv']

In [63]:
import pandas as pd
co_at_70_ppm = pd.read_csv('Repitition_CO_at_70_ppm.csv')
co_at_80_ppm = pd.read_csv('Repitition_CO_at_80_ppm.csv')
co_at_90_ppm = pd.read_csv('Repitition_CO_at_90_ppm.csv')

In [64]:
ea_at_20_ppm = pd.read_csv('Repitition_EA_at_20_ppm.csv')
ea_at_30_ppm = pd.read_csv('Repitition_EA_at_30_ppm.csv')
ea_at_40_ppm = pd.read_csv('Repitition_EA_at_40_ppm.csv')

In [65]:
ey_at_40_ppm = pd.read_csv('Repitition_EY_at_40_ppm.csv')
ey_at_50_ppm = pd.read_csv('Repitition_EY_at_50_ppm.csv')
ey_at_60_ppm = pd.read_csv('Repitition_EY_at_60_ppm.csv')

In [66]:
me_at_60_ppm = pd.read_csv('Repitition_ME_at_60_ppm.csv')
me_at_70_ppm = pd.read_csv('Repitition_ME_at_70_ppm.csv')
me_at_80_ppm = pd.read_csv('Repitition_ME_at_80_ppm.csv')

In [67]:
co_at_70_ppm['target'] = 1.0
co_at_80_ppm['target'] = 1.0
co_at_90_ppm['target'] = 1.0

In [68]:
ea_at_20_ppm['target'] = 2.0
ea_at_30_ppm['target'] = 2.0
ea_at_40_ppm['target'] = 2.0

In [69]:
ey_at_40_ppm['target'] = 3.0
ey_at_50_ppm['target'] = 3.0
ey_at_60_ppm['target'] = 3.0

In [70]:
me_at_60_ppm['target'] = 4.0
me_at_70_ppm['target'] = 4.0
me_at_80_ppm['target'] = 4.0

In [71]:
co_at_70_ppm = co_at_70_ppm.drop(['Unnamed: 0', 'time'], axis = 1)

In [72]:
co_at_70_ppm.head()

,sense_one,sense_two,sense_three,sense_four,sense_five,sense_six,sense_seven,sense_eight,target
0,41.935,20.2800,23.2900,6.875,77.7575,47.1925,61.2100,7.7250,1.0
1,41.960,20.3000,23.3075,6.875,77.7075,47.2700,61.2100,7.7225,1.0
2,41.935,20.2875,23.2800,6.875,77.7025,47.1625,61.2100,7.7300,1.0
3,41.915,20.2800,23.2900,6.875,77.7025,47.2625,61.1775,7.7250,1.0
4,41.960,20.3025,23.2900,6.875,77.7575,47.2450,61.1600,7.7250,1.0

In [73]:
co_at_80_ppm = co_at_80_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
co_at_90_ppm = co_at_90_ppm.drop(['Unnamed: 0', 'time'], axis = 1)

ea_at_20_ppm = ea_at_20_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
ea_at_30_ppm = ea_at_30_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
ea_at_40_ppm = ea_at_40_ppm.drop(['Unnamed: 0', 'time'], axis = 1)

ey_at_40_ppm = ey_at_40_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
ey_at_50_ppm = ey_at_50_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
ey_at_60_ppm = ey_at_60_ppm.drop(['Unnamed: 0', 'time'], axis = 1)


me_at_60_ppm = me_at_60_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
me_at_70_ppm = me_at_70_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
me_at_80_ppm = me_at_80_ppm.drop(['Unnamed: 0', 'time'], axis = 1)

In [74]:
me_at_80_ppm['target'][:10]

0    4.0
1    4.0
2    4.0
3    4.0
4    4.0
5    4.0
6    4.0
7    4.0
8    4.0
9    4.0
Name: target, dtype: float64

In [89]:
def concatenate_data(key):
    value_one = np.append(co_at_80_ppm[key],co_at_90_ppm[key])
    value_one_one = np.append(ea_at_30_ppm[key], ea_at_40_ppm[key])
    value_two = np.append(ea_at_20_ppm[key], value_one_one)
    value_two_two = np.append(ey_at_40_ppm[key], ey_at_50_ppm[key])
    value_three = np.append(ey_at_60_ppm[key],value_two_two)
    value_three_three = np.append(me_at_70_ppm[key],me_at_80_ppm[key])
    value_four = np.append(me_at_60_ppm[key],value_three_three)
    
    val_1 = np.append(value_two, value_three)
    value = np.append(value_one,val_1)
    final = np.append(value, value_four)
    return final

sense_one = np.append(co_at_70_ppm['sense_one'],concatenate_data(key = 'sense_one'))
print(sense_one.shape)
sense_two = np.append(co_at_70_ppm['sense_two'],concatenate_data(key = 'sense_two'))
print(sense_two.shape)
sense_three = np.append(co_at_70_ppm['sense_three'],concatenate_data(key = 'sense_three'))
print(sense_three.shape)
sense_four = np.append(co_at_70_ppm['sense_four'],concatenate_data(key = 'sense_four'))
print(sense_four.shape)
sense_five = np.append(co_at_70_ppm['sense_five'],concatenate_data(key = 'sense_five'))
print(sense_five.shape)
sense_six= np.append(co_at_70_ppm['sense_six'],concatenate_data(key = 'sense_six'))
print(sense_six.shape)
sense_seven = np.append(co_at_70_ppm['sense_seven'],concatenate_data(key = 'sense_seven'))
print(sense_seven.shape)
sense_eight = np.append(co_at_70_ppm['sense_eight'],concatenate_data(key = 'sense_eight'))
print(sense_eight.shape)
target = np.append(co_at_70_ppm['target'],concatenate_data(key = 'target'))
print(target.shape)

(719951,)
(719951,)
(719951,)
(719951,)
(719951,)
(719951,)
(719951,)
(719951,)
(719951,)

In [90]:
target[:10]

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [91]:
new_dataframe = pd.DataFrame({'sense_one':sense_one,'sense_two':sense_two, 'sense_three':sense_three,'sense_four':sense_four,'sense_five':sense_five,
                             'sense_six': sense_six, 'sense_seven': sense_seven,'sense_eight':sense_eight,'target':target})
new_dataframe.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.7250,77.7575,6.875,41.935,61.2100,47.1925,23.2900,20.2800,1.0
1,7.7225,77.7075,6.875,41.960,61.2100,47.2700,23.3075,20.3000,1.0
2,7.7300,77.7025,6.875,41.935,61.2100,47.1625,23.2800,20.2875,1.0
3,7.7250,77.7025,6.875,41.915,61.1775,47.2625,23.2900,20.2800,1.0
4,7.7250,77.7575,6.875,41.960,61.1600,47.2450,23.2900,20.3025,1.0

In [92]:
new_dataframe.shape

(719951, 9)

In [93]:
new_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 719951 entries, 0 to 719950
Data columns (total 9 columns):
sense_eight    698601 non-null float64
sense_five     698601 non-null float64
sense_four     698601 non-null float64
sense_one      698601 non-null float64
sense_seven    698601 non-null float64
sense_six      698601 non-null float64
sense_three    698601 non-null float64
sense_two      698601 non-null float64
target         719951 non-null float64
dtypes: float64(9)
memory usage: 49.4 MB

In [94]:
new_dataframe.isnull().sum()

sense_eight    21350
sense_five     21350
sense_four     21350
sense_one      21350
sense_seven    21350
sense_six      21350
sense_three    21350
sense_two      21350
target             0
dtype: int64

In [96]:
new_data = new_dataframe.dropna(axis = 0, how = 'any')
new_data.shape

(698601, 9)

In [97]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 698601 entries, 0 to 719613
Data columns (total 9 columns):
sense_eight    698601 non-null float64
sense_five     698601 non-null float64
sense_four     698601 non-null float64
sense_one      698601 non-null float64
sense_seven    698601 non-null float64
sense_six      698601 non-null float64
sense_three    698601 non-null float64
sense_two      698601 non-null float64
target         698601 non-null float64
dtypes: float64(9)
memory usage: 53.3 MB

In [98]:
new_data.to_csv('merged_preprocess_data.csv')