In [1]:
import os

os.listdir()

['.ipynb_checkpoints',
 'create_dataset.ipynb',
 'data visualization.ipynb',
 'merged_preprocess_data.csv',
 'merge_regression_model.ipynb',
 'model_building.ipynb',
 'Repitition_CO_at_70_ppm.csv',
 'Repitition_CO_at_80_ppm.csv',
 'Repitition_CO_at_90_ppm.csv',
 'Repitition_EA_at_20_ppm.csv',
 'Repitition_EA_at_30_ppm.csv',
 'Repitition_EA_at_40_ppm.csv',
 'Repitition_Ey_at_40_ppm.csv',
 'Repitition_Ey_at_50_ppm.csv',
 'Repitition_Ey_at_60_ppm.csv',
 'Repitition_ME_at_60_ppm.csv',
 'Repitition_ME_at_70_ppm.csv',
 'Repitition_ME_at_80_ppm.csv',
 'visualization of sensor five with respect to sensor eight value.png',
 'visualization of sensor one with respect to sensor three value.png',
 'visualization of sensor one with respect to sensor two value.png',
 'visualization of sensor one with respect to the target value.png',
 'visualization of sensor two with respect to sensor three value.png',
 'visualization of sensor two with respect to the target value.png']

In [36]:
import pandas as pd
ea_at_20_ppm = pd.read_csv('Repitition_EA_at_20_ppm.csv')
ea_at_30_ppm = pd.read_csv('Repitition_EA_at_30_ppm.csv')
ea_at_40_ppm = pd.read_csv('Repitition_EA_at_40_ppm.csv')

In [37]:
import pandas as pd
co_at_70_ppm = pd.read_csv('Repitition_CO_at_70_ppm.csv')
co_at_80_ppm = pd.read_csv('Repitition_CO_at_80_ppm.csv')
co_at_90_ppm = pd.read_csv('Repitition_CO_at_90_ppm.csv')

In [38]:
ey_at_40_ppm = pd.read_csv('Repitition_EY_at_40_ppm.csv')
ey_at_50_ppm = pd.read_csv('Repitition_EY_at_50_ppm.csv')
ey_at_60_ppm = pd.read_csv('Repitition_EY_at_60_ppm.csv')

In [39]:
me_at_60_ppm = pd.read_csv('Repitition_ME_at_60_ppm.csv')
me_at_70_ppm = pd.read_csv('Repitition_ME_at_70_ppm.csv')
me_at_80_ppm = pd.read_csv('Repitition_ME_at_80_ppm.csv')

In [40]:
# merge_co

co_at_70_ppm['target'] = 1 # to represent concentration level 70
co_at_80_ppm['target'] = 2 # to represent concentration level 80
co_at_90_ppm['target'] = 3 # to represent concentration level 90

ea_at_20_ppm['target'] = 1 # to represent concentration level 20
ea_at_30_ppm['target'] = 2 # to represent concentration level 30
ea_at_40_ppm['target'] = 3 # to represent concentration level 40

ey_at_40_ppm['target'] = 1 # to represent concentration level 40
ey_at_50_ppm['target'] = 2 # to represent concentration level 50
ey_at_60_ppm['target'] = 3 # to represent concentration level 60

me_at_60_ppm['target'] = 1 # to represent concentration level 60
me_at_70_ppm['target'] = 2 # to represent concentration level 70
me_at_80_ppm['target'] = 3 # to represent concentration level 80

In [41]:
co_at_70_ppm = co_at_70_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
co_at_80_ppm = co_at_80_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
co_at_90_ppm = co_at_90_ppm.drop(['Unnamed: 0', 'time'], axis = 1)

ea_at_20_ppm = ea_at_20_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
ea_at_30_ppm = ea_at_30_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
ea_at_40_ppm = ea_at_40_ppm.drop(['Unnamed: 0', 'time'], axis = 1)

ey_at_40_ppm = ey_at_40_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
ey_at_50_ppm = ey_at_50_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
ey_at_60_ppm = ey_at_60_ppm.drop(['Unnamed: 0', 'time'], axis = 1)


me_at_60_ppm = me_at_60_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
me_at_70_ppm = me_at_70_ppm.drop(['Unnamed: 0', 'time'], axis = 1)
me_at_80_ppm = me_at_80_ppm.drop(['Unnamed: 0', 'time'], axis = 1)

In [42]:
import numpy as np
def append_values(l,m,n,key):
    val_one = np.append(l[key],m[key])
    return np.append(val_one, n[key])

def deal_data(data1,data2,data3):
    result_dict = {}
    for key in data1.keys():
        result_dict[key] = append_values(data1,data2,data3,key)
    return pd.DataFrame(result_dict)

In [43]:
co_data = deal_data(co_at_70_ppm, co_at_80_ppm, co_at_90_ppm)
ea_data = deal_data(ea_at_20_ppm, ea_at_30_ppm, ea_at_40_ppm)
ey_data = deal_data(ey_at_40_ppm, ey_at_50_ppm, ey_at_60_ppm)
me_data = deal_data(me_at_60_ppm, me_at_70_ppm, me_at_80_ppm)

In [44]:
co_data.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.7250,77.7575,6.875,41.935,61.2100,47.1925,23.2900,20.2800,1
1,7.7225,77.7075,6.875,41.960,61.2100,47.2700,23.3075,20.3000,1
2,7.7300,77.7025,6.875,41.935,61.2100,47.1625,23.2800,20.2875,1
3,7.7250,77.7025,6.875,41.915,61.1775,47.2625,23.2900,20.2800,1
4,7.7250,77.7575,6.875,41.960,61.1600,47.2450,23.2900,20.3025,1

In [45]:
co_data.shape,ea_data.shape, ey_data.shape, me_data.shape

((179974, 9), (179998, 9), (180000, 9), (179979, 9))

In [46]:
ea_data.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.125,80.0425,6.3950,43.2400,62.7175,48.1375,23.9725,20.7750,1
1,7.130,80.1000,6.3950,43.1925,62.7175,48.1325,23.9875,20.7650,1
2,7.120,80.0425,6.3950,43.2425,62.6825,48.1600,23.9725,20.7650,1
3,7.130,80.0425,6.3950,43.2425,62.7175,48.1925,23.9925,20.7650,1
4,7.130,80.0425,6.3925,43.2425,62.6825,48.1650,23.9800,20.7575,1

In [47]:
ey_data.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.5075,74.6050,6.7550,40.265,58.950,45.240,22.4025,19.4275,1
1,7.5025,74.6050,6.7525,40.280,59.075,45.240,22.4025,19.4300,1
2,7.5100,74.6625,6.7525,40.265,58.995,45.215,22.4025,19.4150,1
3,7.5075,74.6625,6.7525,40.265,59.005,45.220,22.3925,19.4100,1
4,7.5100,74.7100,6.7525,40.265,59.005,45.190,22.4025,19.4025,1

In [48]:
co_data.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.7250,77.7575,6.875,41.935,61.2100,47.1925,23.2900,20.2800,1
1,7.7225,77.7075,6.875,41.960,61.2100,47.2700,23.3075,20.3000,1
2,7.7300,77.7025,6.875,41.935,61.2100,47.1625,23.2800,20.2875,1
3,7.7250,77.7025,6.875,41.915,61.1775,47.2625,23.2900,20.2800,1
4,7.7250,77.7575,6.875,41.960,61.1600,47.2450,23.2900,20.3025,1

In [49]:
me_data.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.520,72.220,6.7175,39.2275,57.0875,44.3650,21.7850,19.0575,1
1,7.510,72.215,6.7150,39.2275,57.1200,44.3400,21.8025,19.0575,1
2,7.515,72.165,6.7125,39.2300,57.1200,44.2675,21.7950,19.0725,1
3,7.510,72.280,6.7125,39.1925,57.0475,44.2950,21.7950,19.0725,1
4,7.510,72.225,6.7125,39.2100,57.0875,44.2950,21.7950,19.0575,1

# regression to classifier on CO

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
co_data = co_data.dropna(axis = 0, how = 'any')
co_data.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.7250,77.7575,6.875,41.935,61.2100,47.1925,23.2900,20.2800,1
1,7.7225,77.7075,6.875,41.960,61.2100,47.2700,23.3075,20.3000,1
2,7.7300,77.7025,6.875,41.935,61.2100,47.1625,23.2800,20.2875,1
3,7.7250,77.7025,6.875,41.915,61.1775,47.2625,23.2900,20.2800,1
4,7.7250,77.7575,6.875,41.960,61.1600,47.2450,23.2900,20.3025,1

In [53]:
co_data.isnull().sum()

sense_eight    0
sense_five     0
sense_four     0
sense_one      0
sense_seven    0
sense_six      0
sense_three    0
sense_two      0
target         0
dtype: int64

In [54]:
co_data.shape

(175429, 9)

In [55]:
X = co_data.drop('target', axis = 1)
y = co_data['target']
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, random_state = 500)

In [56]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer

In [57]:
std_scaler = StandardScaler()
max_scaler = MinMaxScaler()
norm = Normalizer()

x_train_scale = std_scaler.fit_transform(x_train)
x_train_max = max_scaler.fit_transform(x_train_scale)
x_train_norm = norm.fit_transform(x_train_max)

x_test_scale = std_scaler.fit_transform(x_test)
x_test_max = max_scaler.fit_transform(x_test_scale)
x_test_norm = norm.fit_transform(x_test_max)

In [58]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 4)
knn.fit(x_train_scale, y_train)
knn.score(x_train_scale, y_train)

0.97298048352963806

In [59]:
from sklearn.svm import SVC
svc = SVC(C = 1.0, kernel = 'linear')
svc.fit(x_train_scale, y_train)
svc.score(x_train_scale, y_train)

0.84349059090941481

# linear regression to classifier on EA

In [60]:
ea_data = co_data.dropna(axis = 0, how = 'any')
ea_data.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.7250,77.7575,6.875,41.935,61.2100,47.1925,23.2900,20.2800,1
1,7.7225,77.7075,6.875,41.960,61.2100,47.2700,23.3075,20.3000,1
2,7.7300,77.7025,6.875,41.935,61.2100,47.1625,23.2800,20.2875,1
3,7.7250,77.7025,6.875,41.915,61.1775,47.2625,23.2900,20.2800,1
4,7.7250,77.7575,6.875,41.960,61.1600,47.2450,23.2900,20.3025,1

In [61]:
ea_data.isnull().sum()

sense_eight    0
sense_five     0
sense_four     0
sense_one      0
sense_seven    0
sense_six      0
sense_three    0
sense_two      0
target         0
dtype: int64

In [62]:
X = ea_data.drop('target', axis = 1)
y = ea_data['target']
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, random_state = 500)

In [63]:
std_scaler = StandardScaler()
max_scaler = MinMaxScaler()
norm = Normalizer()

x_train_scale = std_scaler.fit_transform(x_train)
x_train_max = max_scaler.fit_transform(x_train_scale)
x_train_norm = norm.fit_transform(x_train_max)

x_test_scale = std_scaler.fit_transform(x_test)
x_test_max = max_scaler.fit_transform(x_test_scale)
x_test_norm = norm.fit_transform(x_test_max)

In [64]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 4)
knn.fit(x_train_scale, y_train)
knn.score(x_train_scale, y_train)

0.97298048352963806

In [65]:
from sklearn.svm import SVC
svc = SVC(C = 1.0, kernel = 'linear')
svc.fit(x_train_scale, y_train)
svc.score(x_train_scale, y_train)

0.84349059090941481

# linear regression to classifier on EY

In [66]:
ey_data = co_data.dropna(axis = 0, how = 'any')
ey_data.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.7250,77.7575,6.875,41.935,61.2100,47.1925,23.2900,20.2800,1
1,7.7225,77.7075,6.875,41.960,61.2100,47.2700,23.3075,20.3000,1
2,7.7300,77.7025,6.875,41.935,61.2100,47.1625,23.2800,20.2875,1
3,7.7250,77.7025,6.875,41.915,61.1775,47.2625,23.2900,20.2800,1
4,7.7250,77.7575,6.875,41.960,61.1600,47.2450,23.2900,20.3025,1

In [68]:
ey_data.isnull().sum()

sense_eight    0
sense_five     0
sense_four     0
sense_one      0
sense_seven    0
sense_six      0
sense_three    0
sense_two      0
target         0
dtype: int64

In [69]:
X = ey_data.drop('target', axis = 1)
y = ey_data['target']
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, random_state = 500)

In [70]:
std_scaler = StandardScaler()
max_scaler = MinMaxScaler()
norm = Normalizer()

x_train_scale = std_scaler.fit_transform(x_train)
x_train_max = max_scaler.fit_transform(x_train_scale)
x_train_norm = norm.fit_transform(x_train_max)

x_test_scale = std_scaler.fit_transform(x_test)
x_test_max = max_scaler.fit_transform(x_test_scale)
x_test_norm = norm.fit_transform(x_test_max)

In [71]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 4)
knn.fit(x_train_scale, y_train)
knn.score(x_train_scale, y_train)

0.97298048352963806

In [77]:
from sklearn.svm import SVC
svc = SVC(C = 1.0, kernel = 'linear')
svc.fit(x_train_scale, y_train)
svc.score(x_train_scale, y_train)

0.84349059090941481

# linear regression to classifier on ME

In [72]:
ey_data = co_data.dropna(axis = 0, how = 'any')
ey_data.head()

,sense_eight,sense_five,sense_four,sense_one,sense_seven,sense_six,sense_three,sense_two,target
0,7.7250,77.7575,6.875,41.935,61.2100,47.1925,23.2900,20.2800,1
1,7.7225,77.7075,6.875,41.960,61.2100,47.2700,23.3075,20.3000,1
2,7.7300,77.7025,6.875,41.935,61.2100,47.1625,23.2800,20.2875,1
3,7.7250,77.7025,6.875,41.915,61.1775,47.2625,23.2900,20.2800,1
4,7.7250,77.7575,6.875,41.960,61.1600,47.2450,23.2900,20.3025,1

In [73]:
ey_data.isnull().sum()

sense_eight    0
sense_five     0
sense_four     0
sense_one      0
sense_seven    0
sense_six      0
sense_three    0
sense_two      0
target         0
dtype: int64

In [74]:
X = me_data.drop('target', axis = 1)
y = m_data['target']
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, random_state = 500)

In [75]:
std_scaler = StandardScaler()
max_scaler = MinMaxScaler()
norm = Normalizer()

x_train_scale = std_scaler.fit_transform(x_train)
x_train_max = max_scaler.fit_transform(x_train_scale)
x_train_norm = norm.fit_transform(x_train_max)

x_test_scale = std_scaler.fit_transform(x_test)
x_test_max = max_scaler.fit_transform(x_test_scale)
x_test_norm = norm.fit_transform(x_test_max)

In [76]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 4)
knn.fit(x_train_scale, y_train)
knn.score(x_train_scale, y_train)

0.97298048352963806

In [78]:
from sklearn.svm import SVC
svc = SVC(C = 1.0, kernel = 'linear')
svc.fit(x_train_scale, y_train)
svc.score(x_train_scale, y_train)

0.84349059090941481

In [79]:
test_predict = knn.predict(x_test_scale)
from sklearn.metrics import accuracy_score
accuracy_score(test_predict, y_test)

0.95855896938950014

In [80]:
test_data = [23.4,12.3,45.5,67.8,1.2,3.4,5.7,7.8]
knn.predict(test_data)

C:\Users\T YAWA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([3], dtype=int64)

In [81]:
check_data = [4.5,3.4,2.2,5.5,6.6,7.7,1.1,5.3]
knn.predict(check_data)

C:\Users\T YAWA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([2], dtype=int64)

In [82]:
test_data=(2,3,4,5,6,7,8,9)
knn.predict(test_data)

C:\Users\T YAWA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([2], dtype=int64)